@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --color-bg: #eef0f1;
    --color-text: #08090a;
    --color-blue: #3b49df;
    --color-red: #df3b3b;
    --color-green: #3bdf72;
    --color-gray: #b5bdc4;
}
html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
    margin-top: 50px;
}

* {
    box-sizing: border-box;
}

/* Navbar */

.navbar {
    height: 70px;
    width: 100%;
    background: white;
    color: var(--colors-text);
    position: fixed;
    top: 0;
    padding: 0 10vw;
    font-weight: bold;
    border-bottom: 1px solid var(--color-gray);
    z-index: 99;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.navbar img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.navbar li {
    border-radius: 50%;
}


/* Buttons */

.btn, button {
    background-color: var(--color-gray);
    border: none;
    color: var(--color-text);
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    border-radius: 0.25rem;
    cursor: pointer;
    margin: 0.5rem 1rem 0.5rem 0;
  }
  
  @media only screen and (max-width: 768px) {
    button {
      padding: 0.5rem 1rem;
      font-size: 0.8rem;
    }
  }
  
  
  button:hover {
    filter: brightness(90%);
  }
  
  button:disabled,
  button[disabled]{
    filter: brightness(80%);
    cursor: not-allowed;
  }
  
  button.btn-blue {
    background-color: var(--color-blue);
    color: white;
  }
  
  button.btn-red {
    background-color: var(--color-red);
    color: white;
  }
  
  button.btn-green {
    background-color: var(--color-green);
    color: white;
  }
  
  button.btn-google {
    background-color: white;
    color: var(--color-text);
  }
  
  .btn-google img {
    width: 30px;
    margin-right: 10px;
  }
  
  button.btn-logo {
    background-color: var(--color-text);
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
  }



/* loader spinner */
.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* loader spinner end */