@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

i.geo {
    background-image: url(/images/icons/geo-fill.svg);
}

.ProseMirror {
    height: 100%;
    padding: 10px 50px;

    &:focus {
        outline: none;
    }

    // > * + * {
    //     margin-top: 0.9em;
    // }

    blockquote {
        border-left: 3px solid rgba(#0d0d0d, 0.1);
        padding-left: 1rem;
    }
    
    img {
        max-width: 100%;
        height: auto;
    
        &.ProseMirror-selectednode {
          outline: 3px solid #68CEF8;
        }
    }

    a {
        color: #68cef8;
        cursor: pointer;
        text-decoration: underline;
        position: relative;

        &:hover {
            &::before {
                content: attr(href);
                position: absolute;
                background-color: #2A2A2A;
                color: white;
                text-decoration: none;
                font-size: 13px;
                top: 35px;
                left: 0;
                width: fit-content;
                height: 25px;
                padding: 3px 10px;
                border-radius: 3px;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1000;
            }
        }
    }

    .geolink {
        background-color: #00FF00;
        cursor: pointer;
        position: relative;

        &:hover {
            &::before {
                content: attr(lat) ", " attr(lng);
                position: absolute;
                background-color: #2A2A2A;
                color: white;
                font-size: 13px;
                top: 35px;
                left: 0;
                width: fit-content;
                height: 25px;
                padding: 3px 10px;
                border-radius: 3px;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1000;
                white-space: nowrap;
            }
        }
    }

    .geonode {
        text-decoration: underline;
        cursor: pointer;
        position: relative;

        &:hover {
            &::before {
                content: attr(lat) ", " attr(lng);
                position: absolute;
                background-color: #2A2A2A;
                color: white;
                font-size: 13px;
                top: 35px;
                left: 0;
                width: fit-content;
                height: 25px;
                padding: 3px 10px;
                border-radius: 3px;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1000;
                white-space: nowrap;
            }
        }
    }
}

.ProseMirror .is-empty::before {
    content: attr(data-placeholder);
    float: left;
    color: #ced4da;
    pointer-events: none;
    height: 0;
}