.container {
    width: 100vw;
    height: 100%;
    display: flex;
}

.map,
.editor {
    width: 50vw;
    height: calc(100vh - 60px);
}

.map {
    position: relative;
}

.gpx {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 10px;
    z-index: 400;
    cursor: pointer;
}

/* .gpxIcon {
    background-image: url(/images/icons/link.svg);
} */