.container {
    width: 100vw;
    height: calc(100vh - 65px);
    display: flex;
    overflow: hidden;
}

.map,
.editor {
    width: 50vw;
    height: calc(100vh - 65px);
}

.map {
    position: relative;
}

.editor {
    overflow: auto;
}