.bubbleMenu {
    display: flex;
    padding-top: 7px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: black;
    border-radius: 3px;

    button {
        border: none;
        background: none;
        color: white;
        opacity: 0.6;
        height: 32px;
        width: 32px;
        display: flex;


        &:hover,
        &.isActive {
            opacity: 1;
        }

        i {
            background-size: contain;
            background-repeat: no-repeat;
            display: inline-block;
            height: 100%;
            width: 100%;
        }
    }
}

.floatingMenu {
    display: flex;
    background-color: none;

    button {
        border: 1px solid black;
        border-radius: 18px;
        background-color: white;
        height: 32px;
        width: 32px;
        font-size: 14px;
        font-weight: 500;
        padding: 5px;
        margin-right: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .1s ease-in-out;
        cursor: pointer;
        opacity: 0.5;

        &:hover {
            transform: scale(0.95);
            opacity: 1;
        }

        i {
            background-size: contain;
            background-repeat: no-repeat;
            display: inline-block;
            height: 100%;
            width: 100%;
        }
        
    }
}

.quote {
    background-image: url(/images/icons/chat-square-quote.svg);
}

.image {
    background-image: url(/images/icons/image.svg);
}

.youtube {
    background-image: url(/images/icons/youtube.svg);
}

.list {
    background-image: url(/images/icons/list.svg);
}

.bold {
    background-image: url(/images/icons/type-bold.svg);
}

.italic {
    background-image: url(/images/icons/type-italic.svg);
}

.underline {
    background-image: url(/images/icons/type-underline.svg);
}

.link {
    background-image: url(/images/icons/link-45deg.svg);
}

.geo {
    background-image: url(/images/icons/geo-fill.svg);
}

.title {
    background-image: url(/images/icons/title-2.svg);
}

.titleBlack {
    background-image: url(/images/icons/title-black.svg);
}